= simple_form_for(@wei_user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :latitude
    = f.input :longitude
    = f.input :address
    = f.input :description
    = f.input :title

  .field
    = f.label :avatar
    %br/
    = f.file_field :avatar

  .form-actions
    = f.button :submit
